<div class="row">
  <div class="col-sm-offset-5 col-sm-6">
    <h1>
      <b>{{weather.name}}</b>
    </h1>
  </div>

</div>
<div class="row">
    <table class="table" style="font-size: 20px">
      <thead>
      <tr>
        <th>Data</th>
        <th>Temperatura</th>
        <th>Temperatura MAX</th>
        <th>Temperatura MIN</th>
        <th>Ciśnienie</th>
        <th>Szybkość wiatru</th>
        <th>Kierunek</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>{{weather.dt | date: 'dd/MM/yyyy HH:hh:mm'}}</th>
        <td>{{weather.main.temp}}</td>
        <td>{{weather.main.temp_max}}</td>
        <td>{{weather.main.temp_min}}</td>
        <td>{{weather.main.pressure}}</td>
        <td>{{weather.wind.speed}}</td>
        <td>{{weather.wind.deg}}</td>
      </tr>
      </tbody>
    </table>
</div>
<map
  [lat]="weather.coord.lat"
  [lng]="weather.coord.lon"
>
</map>
<button class="btn btn-primary" routerLink="/">Powrót</button>
