<h1>
  <div>
    <div *ngFor="let user of users | async">
      <div class="col-md-12">
        <button [routerLink]="['city',user.id]" [queryParams]="user" class="btn btn-default col-md-offset-3 col-md-6">
          {{user.name}}
        </button>
      </div>
    </div>
  </div>
</h1>
